<div class="three columns row">
    <div class="two wide column"></div>
    <div class="twelve wide column center aligned">
        <img src="img/logo.png" alt="Logo" class="logo" />
        <form action="http://www.google.fr" class="ui form">
            <div class="ui search">
                <div class="ui huge action left icon input">
                    <i class="search icon"></i>
                    <input type="search" class="prompt" id="searchField" placeholder="Titre ou artiste" />
                    <div class="ui huge teal submit button">
                        Rechercher
                    </div>
                </div>
                <div class="results"></div>
            </div>
        </form>
    </div>
    <div class="two wide column"></div>
</div>
<div class="four columns row">
    <h2>Chansons aléatoires</h2>
    {{#songs}}
        <div class="four wide column">
            <a class="ui teal card" href="/song/{{id}}">
                <div class="content">
                    <div class="header">{{title}}</div>
                    <div class="meta">{{artist}}</div>
                    <div class="description">
                        {{parts.length}} parties
                    </div>
                </div>
            </a>
        </div>
    {{/songs}}
</div>