html, body {
    background-color: #2C3E50;
}

.logo {
    margin-top: 100px;
    margin-bottom: 20px;
}

h1, h2 {
    margin-top: 0;
}

h1, .row h2 {
    color: #3498DB;
}

.cercle-diatonique svg {
    display: block;
    margin: 5px auto;
    background: #AAA;
    border-radius: 160px;
}

a.ui.card:hover {
    background: #eee;
}

.ui.search .action:hover {
    background: none;
}

.ui.compact.segment {
    display: inline-block;
    padding: 0.8em;
}